<!DOCTYPE html>
<html>
  <head>
    <title>EmailSend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <p class="alert alert-success"><%= notice %></p>
    <p class="alert alert-danger"><%= alert %></p>

    <% if current_user.present?%>
    <%= link_to "logout", destroy_user_session_path, method: :delete%> 
   <%else%>
      <%= link_to "login", user_session_path%> 
    <%end%>
  <%= yield %>
  </body>
</html>
